#wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
html {
    background: url(images/landing.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



#authBox {
    width: 60%;
    height: 45%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    transition: ease 3s;
    opacity: 0;
    visibility: hidden;
    border-radius:25px;
}

#welcome {
    width: 100%;
    height: 100%;
    background-color: slateblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 0.6s ease-in-out;
    background-image: url("images/gradient2.png");
    background-size: cover;
    opacity: 0.93;
    border-radius: 25px;
    


}



#welcomeText {
    width: 85%;
    height: 10%;
    margin-bottom: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    color: white;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    font-weight: bold;

}



#loginContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;


}

.inviteText {
    color: white;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;

}

#signUp {
    border-bottom: 1px solid white;
    padding-bottom: 4px;
    cursor: pointer;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: ease-in 0.4s;
    font-size: 12px;
}

#signUp:hover {
    color: black;
    border-bottom-color: black;
}

#register {
    width: 0%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: ease 0.5s;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    opacity: 0.92;  
    border-top-right-radius:25px;
    border-bottom-right-radius: 25px;


}


#registerContainer {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
   
}

#formOption1 {
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    margin-bottom: 2%;
}

#formOption2 {
    width: 90%;
    height:70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

.uk-margin {
    margin: 0;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

#registerText {
    width: 85%;
    height: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    color: darkslateblue;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}


#signUpButton {
    width: 35%;
    height: 12%;
    border-radius: 25px;
    border: 1px solid slateblue;
    background-color: transparent;
    color: slateblue;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    transition: 0.26s ease;
    
    
}

#signUpButton:hover {
    background-color: slateblue;
    color: white;
}

#loginButton {
    width: 20%;
    height: 8%;
    border-radius: 25px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    transition: 0.26s ease;
    margin-bottom: 3%;
    margin-top: 0%;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    transition: ease 0.5s;
    font-size: 13px;
}

#loginButton:hover {
    background-color: white;
    color: slateblue;
}

::placeholder {
    font-size: 11px;
}

.inputField {
    border-radius: 25px;
    transition: 0.26 ease;
    width: 225px;
    font-size: 11px;

}

.inputField:hover {
    border-color: slateblue;
}

.loginInputField {
    border-radius: 25px;
    transition: 0.26 ease;
    width: 200px;
    font-size: 10px;
}