#wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#authBox {
    width: 60%;
    height: 40%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    
}
#welcome{
    width: 45%;
    height: 100%;
    background-color: slategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.welcomeElements {
    display: flex;
    justify-content: center;
    align-items: center;
}
#welcomeText{
    width: 85%;
    height: 20%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    padding-top: 10px;

}
p{
    width: 85%;
    height: 45%;
    margin: 0;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    

}
#loginContainer{
    width: 85%;
    height: 40%;
    margin: 0;


}
#register{
    width: 55%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
#registerContainer{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#registerText{
    width: 85%;
    height: 20%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    color: darkslateblue;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}






html { 
    background: url(images/landing.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


  ::placeholder{
      font-size: 12px;
  }